@charset "utf-8";
p{margin:0px;}
img{border: 0;}
.tuichu{display:inline-block;
		font-size:12px;
		font-family:Tahoma, Geneva, sans-serif,"宋体";
		color:#666;
		margin-left:24px;
		
}
.tuichu a{display:inline-block;
		  text-decoration:none;
		  color:#888;
		  margin-left:8px;
}
.tuichu a:hover{color:#f60;}
.left{float:left;}
.left_top{border:1px solid #d4d4d4;
		  width:186px;
		  border-radius:3px;
		  margin-top:2px;
		  box-shadow:2px 2px 2px #f0f0f0;
			}

.nihao{margin:15px 0 0px 10px;}
.dengji{margin:11px 0 13px 10px;
		font-family:Tahoma, Geneva, sans-serif,"宋体";
}
.dengji span{display:inline-block;
			 color:red;
			 margin-left:4px;	 
}
.left_top img{width:186px;height:9px;}
.left_bottom{width:186px;
			border:1px solid  #d4d4d4;
			font-family:"宋体";
			margin-top:12px;
			margin-bottom:15px;
			border-radius:3px;
			box-shadow:2px 2px 2px #f0f0f0;
}
.left_bottom p{margin:8px 0 12px 11px;}
.yiny{float:right;}

/*修改部分*/
.left_bottom a:hover{color: #f60;}
.left_bottom dl{
	border-top: 1px solid #eee;
	margin-top: 3px;
	margin-bottom: 0;
}
.left_bottom .dl2{margin-top: 4px;}
.left_bottom .dl3{height: 105px;margin-top: 4px;}
.left_bottom dt{color: #999;font-family: "微软雅黑";margin: 3px 0 7px 10px;font-size: 14px;}
.left_bottom dd{margin-left: 10px;line-height: 30px;}
.left_bottom a{color:#666666;text-decoration:none;}


/*.left_bottom dt{font-size:14px;
				font-family:"微软雅黑";
				color:#999999;
				margin:3px 0 15px 10px;
				
}
.left_bottom dl a{color:#666666;
			      text-decoration:none;
}
.left_bottom dl a:hover{color:#f60;
			      
}
.left_bottom dl{font-size:12px;
				font-family:"宋体";
				margin:2px 0 16px 10px;
}
.left_bottom .last{font-size:12px;
				font-family:"宋体";
				margin:2px 0 12px 10px;
				}
.left_bottom dd .leftlast{font-size:12px;
					font-family:"宋体";
<<<<<<< HEAD
					margin:2px 0 14px 10px;}
.zhongxinright{float:right;
			   width:990px;
			   margin:10px 0 0 0;
}
.right_top{width:986px;
		  height:120px;
		  margin-bottom:10px;
		  border:1px solid #f0f0f0;
		  padding-bottom:4px;
}
.right_top_left{float:left;}
.right_top_left ul{
   				 	line-height: 26px;
    				color: #999999;
					font-size:12px;
					list-style-type:none;
					font-family:Tahoma, Geneva, sans-serif,"宋体";
					padding-left:20px;
					margin:10px 0 10px 0;
					}
.right_top_left ul li span{font-weight:bold;
						   color:#cc0000;
}
.right_top_left ul li .red{display:inline-block;
						   margin-right:14px;
						   color:#f60;
						   font-weight:100;
						 
}
.right_top_left ul li a{text-decoration:none;
							  color:#c0c0c0;
}
.right_top_left ul li a:hover{color:#f60;}
.right_top_right{float:right;
				 margin:10px 295px 10px 0px;
				 border-left:1px solid #f0f0f0;
}
.right_top_right ul{margin:0;
					padding-left:30px;
					text-decoration:none;
					line-height: 26px;
    				color: #666666;
					font-size:12px;
					font-family:Tahoma, Geneva, sans-serif,"宋体";
					list-style-type:none;
					
}
.right_top_right ul span{color:#f60;}
.zhongxinright_bottom{clear:both;
					  border:1px solid #e4e4e4;
}
.zhongxinright_bottom p{
					    font-size:12px;
						font-family:"宋体";
						color:#666666;
						font-weight:bolder;
}
					margin:2px 0 14px 10px;}*/

.fengex{width:1190px;
		margin:0 auto;
}
.bottom{width:1190px;
		margin:0 auto;
}
.bottom_left_ul1{padding-left:21px;}
.bottom_left_ul4{padding-right:80px;}
.bottom_ritht_one{padding-right:49px;}
.bottom_bottom{width:1190px;margin:0 auto;}
.bottom_bottom_p3{padding-bottom:27px;}